.Rproj.user
.Rhistory
.RData
.Ruserdata

# old setup 
analysis_25countries_40causes_full.R
analysis_25countries_40causes_full.RData
old_analysis/*
old_analysis_123causes/*
old_analysis_25c/*
old_bootstrap_100rep/*
old_draft_code/*
old_plot/*
old_sim/*

data_anomalies/*
descriptive/*
descriptive_aggr/*
exploratory_analysis.R
fcrc_1.0.tar.gz

presentation/

regr_lifexp_cd.Rproj
simulations_compressed/*
zeros.csv

