.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
analysis_25countries_40causes_full.R
analysis_25countries_40causes_full.RData
data_anomalies
descriptive
descriptive_aggr
exploratory_analysis.R
fcrc_1.0.tar.gz
fcrc_old
old_analysis
old_analysis_123causes
old_analysis_25c
old_bootstrap_100rep
old_draft_code
old_plot
old_sim
presentation
regr_lifexp_cd.Rproj
simulations_compressed
zeros.csv
